<div id="banner">
					<section class="container">
						<h2>How to Create New Cover</h2>
						<h3>Follow this easy instructions!</h3>
					</section>
					<section class="container">
					    <ul id="text">
					        <li><h4>1. Upload your cover video on Youtube</h4>
					        <%= image_tag("/assets/navodila_1.png", class: 'image2')%></li><br>
					        <li><h4>2. Copy the ID from the video. You can find it in the link</h4>
					        <%= image_tag("/assets/navodila_2.PNG", class: 'image2')%></li><br>
					        <li><h4>3. Click on the NEW COVER under the VIDEOS tag</h4>
					        <%= image_tag("/assets/navodila_3.png", class: 'image2')%></li><br>
					        <li><h4>4. Fill in all informations about your cover and paste the ID from Youtube in giving space.</h4>
					        <%= image_tag("/assets/navodila_4.PNG", class: 'image2')%></li><br>
					        <li><h4>5. When you filled all the informations, click on the CREATE COVER button</h4>
					        <%= image_tag("/assets/navodila_5.PNG", class: 'image2')%></li><br>
					        <li><h4>And that's it. Congratz you just posted your Cover.</h4></li>
					    </ul>
					</section>
</div>
